#***********************************************************************************************************************************************************#
#   Copyright (C) Meteorological Synthesizing Centre - East of EMEP, 2020
#
#   Contact information:
#   Meteorological Synthesizing Centre - East of EMEP
#   2nd Roshchinsky proezd, 8/5
#   115419 Moscow, Russia
#   email: msce@msceast.org
#   http://www.msceast.org
#
#***********************************************************************************************************************************************************#

# GLEMOS version
  VERSION : 2.2.2

# Path to the GLEMOS.run.manager directory (full)
  GRM_DIR : /home/alex/GLEMOS_WorkSpace/GLEMOS_Manager

# GLEMOS directory (full path)
  GLEMOS_DIR : /home/alex/GLEMOS_WorkSpace/GLEMOS_Source

# Data Directory
  DATA_PATH : /home/alex/GLEMOS_WorkSpace/OpenData

# Meteorological data path
  METEO_PATH : {DATA_PATH}/MeteoData/Processed

# Path to data on chemical reactants
  REACT_PATH : {DATA_PATH}/ReactData/Processed

# Boundary conditions path (only used in regional simulations)
  BOUND_COND_PATH : {DATA_PATH}/BoundCond

# Initial conditions path (only used if run mode set to "cond")
  INIT_COND_PATH : {DATA_PATH}/InitCond

# GLEMOS input directory
  INPUT_DIR : /home/alex/GLEMOS_WorkSpace/GLEMOS_Inputs

# Fortran compiler path
  FC : /home/alex/Soft/OracleDeveloperStudio12.6-linux-x86-bin/developerstudio12.6/bin/f95

# NetCDF fortran library Source Directory
  NETCDFF_DIR : /home/alex/netcdf-fortran-4.5.2

#***********************************************************************************************************************************************************#

# output formation mode (options : auto/file)
  OUTPUT_FORM_MODE : file

# 6hourly output for further calculation of boundary conditions (options: on/off)
  OUTPUT_FOR_BOUND : off

# Run directory path 
  RUN_DIR_PATH : /home/alex/GLEMOS_WorkSpace/runs

# Run directory suffix
  RUN_DIR_SUFF : _run

#***********************************************************************************************************************************************************#
#                                                                     SIMULATION MENU 
#***********************************************************************************************************************************************************#
#===========================================================================================================================================================#
#           |             |    MAIN    |    MAIN    |   TYPE   |        MEDIA       |  ANTHROPOGENIC    |   RUN MODE  |       IF RUN MODE == 'spin-up'
# POLLUTANT |  GRID CODE  | SIMULATION | SIMULATION | (field/  | (Atm,Soil,Ocn,Veg) | EMISSION DATASET  | (zero/cond/ |   SPIN-UP  |  SPIN-UP   | NUMBER OF    
#           |             | START TIME |  END TIME  |  matrix) |                    |    NAME SUFFIX    |   spin-up)  |    START   |    END     |  SPIN-UPS
#===========================================================================================================================================================#
#                                                                      HEAVY METALS                                                    
#=============================================================================================================================++++++++++++==================#
#  Pb       | GLOB_3x3    | 01/01/2020 | 31/01/2020 | field    |  Atm               | ------------      |   zero      | 00/00/0000 | 00/00/0000 |    1 
#  Pb       | GLOB_1x1    | 01/01/2020 | 31/01/2020 | field    |  Atm               | _GLOB_1x1         |   spin-up   | 01/01/2020 | 31/01/2020 |    1
#  Pb       | EMEP_04x04  | 01/01/2020 | 31/01/2020 | field    |  Atm               | _emep04           |   spin-up   | 01/01/2020 | 31/01/2020 |    1
#  Pb       | EMEP_02x02  | 01/01/2020 | 31/01/2020 | field    |  Atm               | ------------      |   zero      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  Cd       | GLOB_3x3    | 01/01/2020 | 31/01/2020 | field    |  Atm               | ------------      |   zero      | 30/01/2016 | 31/01/2016 |    1 
#  Cd       | GLOB_1x1    | 01/01/2020 | 31/01/2020 | matrix   |  Atm               | _GLOB_1x1         |   spin-up   | 01/01/2020 | 31/01/2020 |    1
#  Cd       | EMEP_04x04  | 01/01/2020 | 31/01/2020 | field    |  Atm               | _emep04           |   spin-up   | 01/01/2020 | 31/01/2020 |    1
#  Cd       | EMEP_02x02  | 01/01/2020 | 31/01/2020 | field    |  Atm               | ------------      |   zero      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  Hg       | GLOB_3x3    | 01/01/2020 | 31/01/2020 | field    |  Atm               | ------------      |   zero      | 01/01/2019 | 31/12/2019 |    3
#  Hg       | GLOB_1x1    | 01/01/2020 | 31/01/2020 | matrix   |  Atm               | _gma2018+emep     |   cond      | 01/01/2019 | 31/12/2019 |    3
#  Hg       | EMEP_04x04  | 01/01/2020 | 31/01/2020 | field    |  Atm               | _emep04           |   spin-up   | 01/01/2020 | 31/01/2020 |    1
#  Hg       | EMEP_02x02  | 01/01/2020 | 31/01/2020 | field    |  Atm               | ------------      |   zero      | 00/00/0000 | 00/00/0000 |    1
#===========================================================================================================================================================#
#                                                                          POPs                                                               
#===========================================================================================================================================================#
#  BaP      | GLOB_3x3    | 05/01/2016 | 05/01/2016 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   zero      | 00/00/0000 | 00/00/0000 |    1
   BaP      | GLOB_1x1    | 01/02/2015 | 12/04/2016 | matrix   |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   spin-up   | 01/01/2020 | 01/01/2020 |    1
#  BaP      | EMEP_04x04  | 01/01/2019 | 31/12/2019 | matrix   |  Atm,Soil,Ocn,Veg  | _emep04           |   spin-up   | 01/01/2020 | 01/01/2020 |    1
#  BaP      | EMEP_02x02  | 01/01/2019 | 31/12/2019 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   zero      | 00/00/0000 | 00/00/0000 |    1
#===========================================================================================================================================================#
#***********************************************************************************************************************************************************#
