#***********************************************************************************************************************************************************#
#   Copyright (C) Meteorological Synthesizing Centre - East of EMEP, 2020
#
#   Contact information:
#   Meteorological Synthesizing Centre - East of EMEP
#   2nd Roshchinsky proezd, 8/5
#   115419 Moscow, Russia
#   email: msce@msceast.org
#   http://www.msceast.org
#
#***********************************************************************************************************************************************************#

# GLEMOS version
  VERSION : 2.2.2_dev

# Path to the GLEMOS.run.manager directory (full)
  GRM_DIR : /home/alex/GLEMOS_WorkSpace/GLEMOS.run.manager

# GLEMOS directory (full path)
  GLEMOS_DIR : /home/alex/GLEMOS_WorkSpace/GLEMOS_source

# Data Directory
  DATA_PATH : /home/alex/InputData

# Meteorological data path
  METEO_PATH : {DATA_PATH}/MeteoData/Processed

# Path to data on chemical reactants
  REACT_PATH : {DATA_PATH}/ReactData/Processed

# Boundary conditions path (only used in regional simulations)
  BOUND_COND_PATH : {DATA_PATH}/BoundCond

# Initial conditions path (only used if run mode set to "cond")
  INIT_COND_PATH : {DATA_PATH}/InitCond

# GLEMOS input directory
  INPUT_DIR : {DATA_PATH}/GLEMOS_Inputs_v2.2.2_dev

# Fortran compiler path
  FC : /opt/oracle/solstudio12.2/bin/f95

# NetCDF fortran library Source Directory
  NETCDFF_DIR : /home/alex/netcdf-fortran-4.5.2

#***********************************************************************************************************************************************************#

# output formation mode (options : auto/file)
  OUTPUT_FORM_MODE : file

# 6hourly output for further calculation of boundary conditions (options: on/off)
  OUTPUT_FOR_BOUND : off

# Run directory path 
  RUN_DIR_PATH : /home/alex/GLEMOS_WorkSpace/runs

# Run directory suffix
  RUN_DIR_SUFF : _run

#***********************************************************************************************************************************************************#
#                                                                     SIMULATION MENU 
#***********************************************************************************************************************************************************#
#===========================================================================================================================================================#
#           |             |    MAIN    |    MAIN    |   TYPE   |        MEDIA       |  ANTHROPOGENIC    |   RUN MODE  |       IF RUN MODE == 'spin-up'
# POLLUTANT |  GRID CODE  | SIMULATION | SIMULATION | (field/  | (Atm,Soil,Ocn,Veg) | EMISSION DATASET  | (zero/cond/ |   SPIN-UP  |  SPIN-UP   | NUMBER OF    
#           |             | START TIME |  END TIME  |  matrix) |                    |    NAME SUFFIX    |   spin-up)  |    START   |    END     |  SPIN-UPS
#===========================================================================================================================================================#
#                                                                      HEAVY METALS                                                    
#=============================================================================================================================++++++++++++==================#
#  Pb       | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm               | ------------      |   spin-up   | 00/00/0000 | 00/00/0000 |    1 
#  Pb       | GLOB_1x1    | 01/01/2016 | 02/01/2016 | matrix   |  Atm               | _GLOB_1x1         |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#  Pb       | EMEP_04x04  | 01/01/2016 | 02/01/2016 | matrix   |  Atm               | _emep04           |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#  Pb       | EMEP_02x02  | 01/01/2016 | 02/01/2016 | field    |  Atm               | _emep02           |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  Cd       | GLOB_3x3    | 01/02/2016 | 02/02/2016 | field    |  Atm               | _GLOB_3x3         |   spin-up   | 30/01/2016 | 31/01/2016 |    1 
#  Cd       | GLOB_1x1    | 01/01/2019 | 03/01/2019 | field    |  Atm               | _GLOB_1x1         |   spin-up   | 30/01/2016 | 31/01/2016 |    1
#  Cd       | EMEP_04x04  | 01/01/2016 | 02/01/2016 | matrix   |  Atm               | _emep04           |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#  Cd       | EMEP_02x02  | 01/01/2016 | 02/01/2016 | field    |  Atm               | _emep02           |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
   Hg       | GLOB_3x3    | 01/02/2015 | 05/02/2015 | matrix   |  Atm               | _gma2013          |   spin-up   | 29/01/2015 | 30/01/2015 |    3
#  Hg       | GLOB_1x1    | 01/01/2015 | 02/01/2015 | field    |  Atm               | _gma2013          |   zero      | 30/01/2015 | 31/01/2015 |    3
#  Hg       | EMEP_04x04  | 01/01/2015 | 02/01/2015 | field    |  Atm               | _emep04           |   spin-up   | 30/01/2015 | 31/01/2015 |    1
#  Hg       | EMEP_02x02  | 01/01/2015 | 02/01/2015 | field    |  Atm               | _emep02           |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  Cu       | GLOB_3x3    | 01/02/2016 | 02/02/2016 | field    |  Atm               | ------------      |   spin-up   | 30/01/2016 | 31/01/2016 |    1
#  Cu       | GLOB_1x1    | 01/01/2019 | 03/01/2019 | field    |  Atm               | ------------      |   spin-up   | 30/01/2016 | 31/01/2016 |    1
#  Cu       | EMEP_04x04  | 01/01/2016 | 02/01/2016 | matrix   |  Atm               | _emep04_helcom2   |   zero      | 00/00/0000 | 00/00/0000 |    1
#  Cu       | EMEP_02x02  | 01/01/2016 | 02/01/2016 | field    |  Atm               | ------------      |   spin-up   | 00/00/0000 | 00/00/0000 |    1
#===========================================================================================================================================================#
#                                                                          POPs                                                               
#===========================================================================================================================================================#
#  BaP      | GLOB_3x3    | 05/01/2016 | 05/01/2016 | field    |  Atm,Soil,Ocn,Veg  | _GLOB_3x3         |   zero      | 01/02/2016 | 02/02/2016 |    1
#  BaP      | GLOB_1x1    | 01/02/2015 | 12/04/2016 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   zero      | 01/02/2015 | 02/02/2015 |    1
#  BaP      | EMEP_04x04  | 01/01/2019 | 31/12/2019 | matrix   |  Atm,Soil,Ocn,Veg  | _emep04           |   zero      | 01/01/2019 | 31/01/2019 |    1
#  BaP      | EMEP_02x02  | 01/01/2019 | 31/12/2019 | field    |  Atm,Soil,Ocn,Veg  | _emep02           |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  BbF      | GLOB_3x3    | 01/01/2015 | 03/01/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BbF      | GLOB_1x1    | 01/01/2015 | 02/02/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BbF      | EMEP_04x04  | 01/01/2016 | 02/01/2016 | field    |  Atm,Soil,Ocn,Veg  | _emep04           |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BbF      | EMEP_02x02  | 01/01/2019 | 31/12/2019 | field    |  Atm,Soil,Ocn,Veg  | _emep02           |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  BkF      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BkF      | GLOB_1x1    | 01/03/2015 | 02/03/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BkF      | EMEP_04x04  | 01/03/2016 | 01/03/2016 | field    |  Atm,Soil,Ocn,Veg  | _emep04           |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BkF      | EMEP_02x02  | 01/01/2019 | 31/12/2019 | field    |  Atm,Soil,Ocn,Veg  | _emep02           |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  IcdP     | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  IcdP     | GLOB_1x1    | 01/03/2015 | 02/03/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  IcdP     | EMEP_04x04  | 01/03/2015 | 02/03/2015 | field    |  Atm,Soil,Ocn,Veg  | _emep04           |   cond      | 00/00/0000 | 00/00/0000 |    1
#  IcdP     | EMEP_02x02  | 01/01/2019 | 31/12/2019 | field    |  Atm,Soil,Ocn,Veg  | _emep02           |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  PCB-153  | GLOB_3x3    | 01/03/2015 | 02/03/2015 | field    |  Atm,Soil,Ocn,Veg  | _glob3            |   cond      | 00/00/0000 | 00/00/0000 |    1
#  PCB-153  | GLOB_1x1    | 01/03/2015 | 02/03/2015 | field    |  Atm,Soil,Ocn,Veg  | _glob1            |   cond      | 00/00/0000 | 00/00/0000 |    1
#  PCB-153  | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _emep04           |   cond      | 00/00/0000 | 00/00/0000 |    1
#  PCB-153  | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  23PeCDF  | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  23PeCDF  | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  23PeCDF  | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _emep04           |   cond      | 00/00/0000 | 00/00/0000 |    1
#  23PeCDF  | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _emep02           |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  HCB      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  HCB      | GLOB_1x1    | 01/03/2015 | 02/03/2015 | field    |  Atm,Soil,Ocn,Veg  | _1                |   cond      | 00/00/0000 | 00/00/0000 |    1
#  HCB      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _emep04           |   cond      | 00/00/0000 | 00/00/0000 |    1
#  HCB      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _emep02           |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  ACE      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ACE      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ACE      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ACE      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  ACY      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ACY      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ACY      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ACY      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  ANT      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ANT      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ANT      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  ANT      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  CHR      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  CHR      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  CHR      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  CHR      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------------------#
#  BaA      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BaA      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BaA      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BaA      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  DahA     | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  DahA     | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  DahA     | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  DahA     | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  FLA      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  FLA      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  FLA      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  FLA      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+--------------+------------+-----------+-----------#
#  FLO      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  FLO      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  FLO      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  FLO      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  PHE      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  PHE      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  PHE      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  PHE      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  BghiP    | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BghiP    | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BghiP    | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  BghiP    | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#-----------+-------------+------------+------------+----------+--------------------+-------------------+-------------+------------+------------+-----------#
#  NAP      | GLOB_3x3    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1     
#  NAP      | GLOB_1x1    | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_glob1        |   cond      | 00/00/0000 | 00/00/0000 |    1
#  NAP      | EMEP_04x04  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | _pku_emep04       |   cond      | 00/00/0000 | 00/00/0000 |    1
#  NAP      | EMEP_02x02  | 01/01/2015 | 31/12/2015 | field    |  Atm,Soil,Ocn,Veg  | ------------      |   cond      | 00/00/0000 | 00/00/0000 |    1
#===========================================================================================================================================================#
#***********************************************************************************************************************************************************#
