#*********************************************************************************************#
#                                 OUTPUT MENU
#*********************************************************************************************#

# Defining dump time scales (yearly, monthly, daily)
Dump frequency:         monthly

# Defining balance time scales (yearly, monthly, daily, 6hourly):
Balance frequency:      monthly

# Defining atmospheric output time scales:
Atm Monitor Hourly:      off
Atm Monitor 6hourly:     off
Atm Monitor Daily:       on
Atm Monitor Monthly:     on
Atm Monitor Yearly:      on

Atm Fields Hourly:       off
Atm Fields 6hourly:      off
Atm Fields Daily:        off
Atm Fields Monthly:      on
Atm Fields Yearly:       on

Atm NCF Hourly:          off
Atm NCF 6hourly:         off
Atm NCF Daily:           off
Atm NCF Monthly:         on
Atm NCF Yearly:          on

Atm Matrix Daily:        off
Atm Matrix Monthly:      on
Atm Matrix Yearly:       on

# Defining ocean output time scales:
Ocn Monitor Hourly:      off
Ocn Monitor 6hourly:     off
Ocn Monitor Daily:       off
Ocn Monitor Monthly:     off
Ocn Monitor Yearly:      off

Ocn Fields Hourly:       off
Ocn Fields 6hourly:      off
Ocn Fields Daily:        off
Ocn Fields Monthly:      off
Ocn Fields Yearly:       off

Ocn NCF Hourly:          off
Ocn NCF 6hourly:         off
Ocn NCF Daily:           off
Ocn NCF Monthly:         off
Ocn NCF Yearly:          off

Ocn Matrix Daily:        off
Ocn Matrix Monthly:      off
Ocn Matrix Yearly:       off

# Defining soil output time scales:
Soil Monitor Hourly:     off
Soil Monitor 6hourly:    off
Soil Monitor Daily:      off
Soil Monitor Monthly:    off
Soil Monitor Yearly:     off

Soil Fields Hourly:      off
Soil Fields 6hourly:     off
Soil Fields Daily:       off
Soil Fields Monthly:     off
Soil Fields Yearly:      off

Soil NCF Hourly:         off
Soil NCF 6hourly:        off
Soil NCF Daily:          off
Soil NCF Monthly:        off
Soil NCF Yearly:         off

Soil Matrix Daily:       off
Soil Matrix Monthly:     off
Soil Matrix Yearly:      off

# Defining vegetation output time scales:
Veg Monitor Hourly:      off
Veg Monitor 6hourly:     off
Veg Monitor Daily:       off
Veg Monitor Monthly:     off
Veg Monitor Yearly:      off

Veg Fields Hourly:       off
Veg Fields 6hourly:      off
Veg Fields Daily:        off
Veg Fields Monthly:      off
Veg Fields Yearly:       off

Veg NCF Hourly:          off
Veg NCF 6hourly:         off
Veg NCF Daily:           off
Veg NCF Monthly:         off
Veg NCF Yearly:          off

Veg Matrix Daily:        off
Veg Matrix Monthly:      off
Veg Matrix Yearly:       off

